<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">RC Flashcards</a>
      <ul class="nav navbar-nav">
        <li><%= link_to 'New Card', new_card_path %></li>
        <li><%= link_to 'Carousel View', show_with_carousel_cards_path %></li>
      </ul>
    </div>
  </div>
</nav>
